<!--<div class="mat-app-background">-->
<!--<mat-toolbar color="primary">-->
<!--  <span>My Application</span>-->
<!--</mat-toolbar>-->
<!--</div>-->

<div [ngClass]="{'dark-theme': isDarkTheme}">
  <div class="mat-app-background">
    <mat-toolbar color="primary">
      <span>My Application</span>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="changeTheme('theme1')">
          <span>Theme 1</span>
        </button>
        <button mat-menu-item>
          <span>Theme 2</span>
        </button>
        <button mat-menu-item (click)="changeTheme('dark')">
          <span>Dark Theme</span>
        </button>
      </mat-menu>
    </mat-toolbar>
    <div class="content">

      <h1 i18n="@@welcome">Hello World!!</h1>
      <h1 i18n="@@sampletext">This is just a demo of how to use i18n in angular application.</h1>

      <mat-form-field class="example-full-width">
        <input i18n-placeholder="@@input" i18n-value="@@placeholdertext" matInput placeholder="Favorite food" value="Sushi">
      </mat-form-field>

      <a href="http://13.127.22.216/multilingual-test/">English</a>
      <br>
      <a href="http://13.127.22.216/multilingual-test/gu/">Gujarati</a>
      <br>
      <a href="http://13.127.22.216/multilingual-test/hi/">Hindi</a>

    </div>
  </div>
</div>
